@import url('https://fonts.googleapis.com/css2?family=Lato:ital@1&family=Roboto:ital,wght@1,100&display=swap');
* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  font-family: "Roboto Condensed', sans-serif;
}

.Sponsor {
  display: flex;
  flex-direction: row;
  justify-items: center;
  flex-wrap: wrap;
}

.Sponsor-wrapper {
  width: 50%;
  background-color: rgb(93, 90, 108);
  padding: 10%;
  color: #ffffff;
}

h1 {
  font-size: 50px;
  line-height: 1.1;
  margin-bottom: 30px;
  font-family: "Unbounded",;
}

h2 {
  margin-bottom: 100px;
  font-weight: 200;
}

figure {
  width: 20%;
  background-size: cover;
  background-repeat: no-repeat;
}

.button {
  margin-top: 20px;
}

.button a {
  display: inline-block;
  padding: 10px 50px;
  background: blue;
  border-radius: 30px;
  text-decoration: none;
  color: black;
  font-size: 18px;
  line-height: 1.4;
  font-weight: 800;
  transition: all 0.5s ease;
}

.button a:hover {
  background: black;
  color: blue;
    
}

@media screen and (max-width: 102px) {
  .button a {
    font-size: 20;
  }
}

@media screen and (max-width: 768px) {
  .Sponsor-wrapper {
    padding-bottom: 50px;
  }

  .Sponsor-wrapper,
  figure {
    width: 50px;
  }

 
  }