@import url('https://fonts.googleapis.com/css2?family=Lato:ital@1&family=Roboto+Condensed:ital,wght@1,300&family=Roboto:ital,wght@1,100&family=Ubuntu&display=swap');
* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  font-family: ""'Ubuntu', sans-serif;
}

.reachout {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
}

.reachout-wrapper {
  width: 50%;
  background-color: rgb(30, 80, 156);
  padding: 5%;
  color: #ffffff;
}

h1 {
  font-size: 50px;
  line-height: 1.1;
  margin-bottom: 30px;
  font-family: "'Ubuntu', sans-serif;
}

h2 {
  margin-bottom: 100px;
  font-weight: 200;
}

figure {
  width: 50%;
  background-size: cover;
  background-repeat: no-repeat;
}

.button {
  margin-top: 20px;
}

.button a {
  display: inline-block;
  padding: 10px 50px;
  background: rgb(80, 180, 159);
  border-radius: 30px;
  text-decoration: none;
  color: black;
  font-size: 18px;
  line-height: 1.4;
  font-weight: 800;
  transition: all 0.5s ease;
}

.button a:hover {
  background: black;
  color: pink;
}



@media screen and (max-width: 1024px) {
  .button a {
    font-size: 16px;
  }
}

@media screen and (max-width: 768px) {
  .reachout-wrapper {
    padding-bottom: 50px;
  }

  .reachout-wrapper,
  figure {
    width: 100%;
  }

  figure {
    height: 300px;
  }
}

@media screen and (max-width: 420px) {
  .button a {
    text-align: center;
  }
}



